@keyframes glow {
  0%,
  100% {
    text-shadow: #b9e4c8 0px 0 0px;
    background-color: rgba(8, 28, 21, 0.2);
  }
  45%,
  55% {
    text-shadow: #b9e4c8 1px 0 10px;
    background-color: rgba(46, 107, 80, 0.2);
  }
}

@keyframes fade {
  0%,
  100% {
    fill: #071117;
  }
  45%,
  55% {
    fill: #95d5b2;
  }
}

@keyframes resize {
  0% {
    width: 0;
    height: 0;
  }
  45% {
    height: 50%;
  }
  55% {
    width: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

html {
  scroll-behavior: smooth !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  cursor: url("/public/cursor.svg"), url("/public/cursor.png"), default;
}

body > * {
  box-sizing: border-box;
}

#pattern {
  display: none;
}

.contentRegion {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template:
    "header" 80px
    "content" 1fr
    "footer" 40px / 1fr;
}

.mainNav {
  width: 100%;
  grid-area: header;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mainNav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}
@media only screen and (min-width: 768px) {
  .mainNav ul {
    margin-left: 50%;
  }
}

.mainNav li {
  display: flex;
  height: 100%;
  width: 100%;
}
.mainNav li:last-of-type {
  margin-right: 2rem;
}

.navLink {
  color: #95d5b2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 2vw, 1.75rem);
  display: flex;
  background-color: rgba(8, 28, 21, 0.2);
  background-image: linear-gradient(180deg, #75c79e, #75c79e),
    linear-gradient(225deg, #75c79e, #75c79e),
    linear-gradient(0deg, #75c79e, #75c79e),
    linear-gradient(90deg, #75c79e, #75c79e),
    linear-gradient(
      135deg,
      transparent 9px,
      #75c79e 10px,
      #75c79e 12px,
      transparent 12px
    );
  background-position: top right, top right, bottom left, bottom left, top left;
  background-size: calc(100% - 15px) 2px, 2px 100%, 100% 2px,
    2px calc(100% - 15px), 15px 15px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  margin: 0 1rem;
}
.navLink:hover {
  animation: glow 3s infinite ease-in;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  margin: 20px 20px;
  padding: 20px 6%;
  color: #b9e4c8;
  overflow-x: hidden;
  max-width: 1440px;
  justify-self: center;
}
@media only screen and (min-width: 768px) {
  .content {
    padding: 20px 60px;
    margin: 20px 10%;
  }
}

.logo {
  max-height: 100%;
  min-width: 100%;
}
.logo .a {
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 20px;
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
  fill: none;
  stroke: #75c79e;
}
.logo .b {
  fill: #75c79e;
  transition: fill 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.page {
  width: 80%;
  min-height: 100%;
  padding: 0 10%;
}
hlh-logo {
  height: 500px;
  display: block;
}
